/* #ff5757 */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
h1,h2,h3,h4,h5,h6,a{
    font-family: 'League Spartan', sans-serif;
}
.fa-bars{
    display: none;
}

*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
.container{
    padding: 5px 15px;
    margin:0 auto;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------topNav-------------------- */

#topNavbar{
    background-color: #ff5757;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#topNavbar a{
    color: white;
}
#leftside,#rightside{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
#leftside>a,#rightside>a{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 5px;
}
#rightside > a{
}
#leftside a img , #rightside a img{
    width: 18px;
    padding-right: 10px;
}
#leftside>a:hover,#rightside>a:hover{
    background-color:#f80a0a;
    border-radius: 10px;
}
/* ------------------------------------bottom----------------------------- */

#botNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo a img {
    width:10vw;
}
#loginsearch{
    display: flex;
    justify-content: space-around;
    width: 80%; 
    align-items: center;
    position: relative;
}
#loginsearch img{
    width: 25px;
}
#search{
    width: 40vw;
    position: relative;
}
#search>input[type=search]{
    padding: 10px;
    width: 100%;
    outline: none;
    border: 2px solid #ff5757;
    border-radius: 20px;
}
#search>i{
    position: absolute;
    top:10px;
    bottom: 0;
    right:10px;
    color: #ff5757;
}
#searchData{
    position: absolute;
    width: 98%;
    padding: 1%;
    z-index: 2;
    background-color: white;
}
#searchData>div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#searchData>div>img{
    width: 8%;
    left: 1%;
}
#searchData>div>p{
    width: 70%;
}
#searchData>div>h6{
    width: 10%;
}
#searchData>div:hover{
    background-color: rgb(241, 235, 235);
}
#searchData>div:hover>img{
    filter: grayscale(100%);
}
#admin>p:first-child{
    color: #ff5757;
}
#shopplus a span img{
    width: 100px;
}
#admin,#cart,#logo,#shopplus{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    padding: 10px;
    font-weight: 700;
}
#shopplus a{
    font-size: 1.5rem;
    color: #0000ff;
    font-weight: 900;
}
.link_hover{
    position: relative;
}
.link_hover::after{
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 10px;
    width: 0%;
    background-color: #f80a0a;
    bottom: 2px;
    transition: all .2s ease-in-out;
}
.link_hover:hover::after{
    width: 100%;
}
@media screen and (max-width: 1290px) {
    #topNavbar{
        padding: 16px 0;
        font-size: 16px;
    }
}
@media screen and (max-width: 470px){
    #topNavbar{
        display: flex;
        padding: 16px 0;
        font-size: 16px;
    }
    #topNavbar>div{
        position: absolute;
        z-index: 5;
        background-color: #ff5757;
        top:60px;
        right: 0;
    }
    #topNavbar .nav_flex{
        display: none;
        height: 100vh;
        padding: 0;
    }
    #leftside,#rightside{
        display: block;
        padding: 0 10px;
    }
    #leftside > a, #rightside > a{
        padding: 15px;
        font-size: 1.2rem;
    }
    #leftside > a > img, #rightside > a > img{
        width: 25px;
    }
    #leftside > a > p, #rightside > a>p{
        display: none;
    }
    #topNavbar:hover .nav_flex{
        display: block;
    }
    .fa-bars{
        margin-left: auto;
        display: flex;
        font-size: 2rem;
        padding-right: 30px;
    }
    #logo{
        width: 21%;
    }
    #loginsearch{
        grid-template-columns: repeat(15,1fr);
        align-items: center;
    }
    #shopplus{
        display: none;
    }
    #search{
        grid-area: 1/1/1/11;
    }
    #admin>p,#cart>p{
        display: none;
    }
    #admin{
        grid-area:1/12/1/13
    }
    #cart{
        grid-area:1/14/1/15
    }
}