@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
h1,h2,h3,h4,h5,h6,a{
    font-family: 'League Spartan', sans-serif;
}
body{
    background-color: #ff57573b;
}
#container{
    width: 30%;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 3%;
}
#container>h3{
    text-align: left;
    color: #ff5757;
}
#register{
    /* width: 80%; */
    margin: auto;
}
#register>div{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 15px 0;
    font-family: 'League Spartan', sans-serif;
}
input[type="text"],
input[type="number"],
input[type="password"]{
    padding: 10px 0px;
    margin: 5px 0px;
}
input[type="submit"]{
    width: 30%;
    margin: auto;
    padding: 7px 10px;
    background-color: #ff5757;
    color: white;
    border-radius: 5px;
    border: none;
}